{{- if and (eq (.Values.clusterEnv | default "") "prod") (.Values.infisical.enabled | default false) -}}
apiVersion: secrets.infisical.com/v1alpha1
kind: InfisicalSecret
metadata:
  name: openclaw-secrets
  namespace: {{ .Release.Namespace }}
spec:
  hostAPI: https://app.infisical.com/api
  resyncInterval: 60
  instantUpdates: false
  authentication:
    universalAuth:
      secretsScope:
        projectSlug: barka
        envSlug: prod
        secretsPath: "/"
        recursive: true
      credentialsRef:
        secretName: infisical-universal-auth-credentials
        secretNamespace: infisical-operator-system
  managedKubeSecretReferences:
    - secretName: openclaw-secrets
      secretNamespace: {{ .Release.Namespace }}
      creationPolicy: Orphan
      template:
        includeAllSecrets: true
{{- end }}
