apiVersion: openclaw.rocks/v1alpha1
kind: OpenClawInstance
metadata:
  name: {{ .Values.instance.name }}
  namespace: {{ .Release.Namespace }}
spec:
  config:
    raw:
{{ toYaml .Values.instance.configRaw | nindent 6 }}

  envFrom:
    - secretRef:
        name: {{ .Values.instance.envFromSecretName }}

  storage:
{{ toYaml .Values.instance.storage | nindent 4 }}

  networking:
{{ toYaml .Values.instance.networking | nindent 4 }}

  security:
{{ toYaml .Values.instance.security | nindent 4 }}
