
# Local k3s dev env
dev/k3s/kubeconfig/*
!dev/k3s/kubeconfig/.gitkeep
dev/k3s/kubeconfig.yaml

# Prod kubeconfig (recommended: keep outside repo)
prod/


# Local env
.env
.env.local
.env.prod

PLAN.md